1)
Write a python code that ask the user to enter his birth year and then print his age in years.

In [2]:
x=int(input("Please enter your birth year: "))
res = 2023-x
print(f"You are {res} Years Old")

Please enter your birth year: 2002
You are 21 Years Old

2) 
Write a python code to find Sum and Average of N
Natural Numbers

In [3]:
num=int(input("Please Enter any Number: "))
s=0
for i in range (1, num+1):
    s+= i
    
avr = s/num
print(f"The Sum of Natural Numbers from 1 to {num} = {s}")
print(f"Average of Natural numbers from 1 to {num} = {avr}")

Please Enter any Number: 50
The Sum of Natural Numbers from 1 to 50 = 1275
Average of Natural numbers from 1 to 50 = 25.5

3)
Python Program to Check Even or Odd

In [6]:
x = input("Enter 'q' for exit.")
while (x != 'q'):
    
    num = int(input("Enter any number: "))
    
    if num%2 == 0:
        print(f"{num} is an even number.")

    else :
        print(f"{num} is an odd number.")
        
    x = input("Enter 'q' for exit. ")

Enter 'q' for exit.
Enter any number: 9
9 is an odd number.
Enter 'q' for exit.
Enter any number: 8
8 is an even number.
Enter 'q' for exit. q

4- 
https://www.hackerrank.com/challenges/whats-your-name/problem

In [7]:
first_n = input()
last_n = input()
print(f"Hello {first_n} {last_n}! You just delved into python.")

Farah
Ghazala
Hello Farah Ghazala! You just delved into python.

5- 
https://www.hackerrank.com/challenges/python-string-split-and-join/
problem

In [11]:
string = input()
string = string.split(" ")
string = '-'.join(string)
print(string)

my name is farah
my-name-is-farah

6- https://www.hackerrank.com/challenges/swap-case/problem

In [15]:
y = input()
string=""
for i in y:
    if i.isupper() == True:
        string+= i.lower()
    else:
        string+= i.upper()
        
print(string)

FARah
farAH

In [16]:
y = input()
y = y.swapcase()
print(y)

farAh
FARaH

7- 
Implement a code that takes as an input ASCII code for 
some characters and combine them to form a string.

In [2]:
my_list = []

while True:
    x = int(input())
    my_list.append(x)
    
    exit = input("Enter q to exit : ")
    if exit == 'q':
        break
        
    else:
        continue
  
result = ''.join(chr(i) for i in my_list)
    
print(result)
print(my_list)

73
Enter q to exit :
84
Enter q to exit :
73
Enter q to exit : q
ITI
[73, 84, 73]

In [ ]:
8- 
Write a Python program which accepts the radius of a circle 
from the user and compute the area.

In [17]:
py=3.14
r = int(input())
area = py*r*r
print(area)

3
28.259999999999998

9- 
Write a Python program which accepts the user's first and 
last name and print them in reverse order with a space between 
them.

In [1]:
F_name=input()
L_name=input()
print(L_name + " " + F_name)

farah
ghazala
ghazala farah

10-
Write a Python program to print the following string in a 
specific format with one variable name.
name= ‘Twinkle’ (string)

In [10]:
print("Twinkle, twinkle, little star, \n\tHow I wonder what you are! \n\t\tUp above the world so high, \n\t\tLike a diamond in the sky. \nTwinkle, twinkle, little star, \n\tHow I wonder what you are!")

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are!

In [9]:
Twinkle ="""
Twinkle, twinkle, little star,
        How I wonder what you are!
                 Up above the world so high,
                 Like a diamond in the sky.
Twinkle, twinkle, little star,
        How I wonder what you are"""

print(Twinkle)

Twinkle, twinkle, little star,
        How I wonder what you are!
                 Up above the world so high,
                 Like a diamond in the sky.
Twinkle, twinkle, little star,
        How I wonder what you are

11-
Find the numbers Between 1 and 100 that are multiples of 3 and 5 (such as 15 30 45 …)

In [22]:
my_list=[]
for i in range (1,101):
    if (i%3==0) & (i%5==0):
        my_list.append(i)
    else:
        continue

print(my_list)

[15, 30, 45, 60, 75, 90]